body{
  text-align: center;
}
em {
  font-size: 1.3rem;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}



#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 13%;
}

/* TITLE SECTION */
/* navbar */
.navbar {
  padding: 0 0 5%;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  font-size: 1.25rem;
  padding-left: 12px;
  padding-right: 12px;
}

.main-heading {
  font-family: 'Montserrat Semi-bold 600', sans-serif;
  font-size: 3.7rem;
  font-weight: 800;
  line-height: 1.5;
  text-align: left;
}

/* download buttons */
.download-button {
  text-align: left;
  margin: 5% 4% 4% 0%;
  position:relative;
  right:3rem;
}

/* title-image */
.title-image {
  width: 57%;
  margin-left: 4%;
  position: absolute;
  left: 5.6rem;
  transform: rotate(18deg);
}

@media (max-width:806px) {
  .title-image {
    transform: rotate(0);
    position: static;
    margin: auto;
  }

  .container-fluid {
    padding: 3% 13%;
    /* text-align: center; */
  }

  .main-heading {
    font-family: 'Montserrat Semi-bold 600', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
  }
  .download-button {
  text-align: left;
  margin: 5% 4% 4% 0%;
  text-align:center;
  position:static;
}
}

/* feautres section */
#features {
  padding: 8% 14%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  /* text-align: center; */
  padding: 4%;
}

.icon {
  padding-bottom: 5%;
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

.features-h3 {
  /* text-align: center; */
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.features-p {
  /* text-align: center; */
  color: grey;
}

/* testimonials section*/
#testimonials {
  background-color: #ef8172;
  /* text-align: center; */
  color: white;
}

.test-image {
  width: 11%;
  border-radius: 95%;
  margin-right: 9%;
  margin-top: 4%;
}

.testimonial-text {
  /*Montserrat may not support weight less than 500*/
  line-height: 1.5;
  font-size: 2rem;
  font-weight: bold;
}

.carousel-item {
  padding: 7% 15%;
}

/* press section*/
#press {
  background-color: #ef8172;
  padding: 2% 12% 7%;
  /* text-align: center; */
}

.press-image {
  width: 23%;
  /*margin-left: 9% margin-right:9%;*/
}

#pricing {
  /* text-align: center; */
  padding: 10%;
}

.card {
  width: 90%;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  font-weight: 800;
}

.price-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.price-p {
  color: black;
  line-height: 1.5;
}

.p-button {
  margin-top: 3%;
}

/* cta section */
#cta {
  background-color: #ff4c68;
  /* text-align: center; */
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 4rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.cta-p {
  font-weight: 900;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  /* text-align: center; */
  margin: auto;
  width: 90%;
}

.download-button2 {
  margin: 1%;
}

@media (max-width:806px) {
  .cta-p {
    font-weight: 600;
    font-size: 3rem;
    font-family: "Montserrat Semi-Bold 600", sans-serif;
    text-align: center;
    margin: auto;
  }
}

/* footer section */
#footer {
  /* text-align: center; */
  line-height: 2rem;
  padding: 5% 8%;
}

.i-foot {
  padding: 2%;
  font-size: 1.5rem;
}

/*footer paragraph also uses class of features paa*/
